/* COPIAR DESDE AQUI */

/* GENERAL CONTENEDOR */

* {
    margin: 0;
    padding: 0;
    transition: all 0.8s!important;
}

button:focus {
    outline: none!important;
}

ul, li {
    text-decoration: none!important;
    list-style: none!important;
}

a {
    text-decoration: none!important;
    color: white!important;
    font-family: 'Lato', sans-serif;
}

a:hover {
    text-decoration: none!important;
    color: white!important;
    transition: all 300ms!important;
}

/* FIN GENERAL CONTENEDOR */

#contenedor-arriba {
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 15px 0px;
}

.contenedor-logo {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

#logo {
    font-size: 40px;
    margin-right: 1.5rem;
    --webkit-transition: all 100ms ease-in-out!important;
}
#logo:hover{    
    transform: translateX(10px) rotate(2deg) ;

    /* transform: scale(1.1,1.1); */
}

.barra {
    display: flex;
    justify-content: flex-end;
    top: 1rem;
    width: 40%;
}

#boton-menu {
    margin-right: 5rem;
    transition: all 300ms ease;
    border-style: none;
    background-color: #f7c338;
    border-radius: 100%;
    padding: 9px 13px;
    -webkit-transition: all 200ms ease-in-out;
}

#boton-menu:hover {
    background-color: black;
}

.fa-bars {
    color: white!important;
    font-size: 20px!important;
}

/* SIDEBAR */

#sidebar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.90);
    width: 300px;
    height: 100%;
    left: -300px;
    transition: all 300ms ease;
}
#sidebar a{
    padding: 20px;
}
#sidebar a:hover{
    background-color: #a5102e;
}

.logo-hovernone:hover{
    background-color: transparent!important;
}


#logo-sidebar img{
    padding: 25px;
}

#logo-sidebar{
    border-bottom: none!important;
}

#sidebar ul li {
    text-align: center;
    border-bottom: 1px solid gray;
}

#sidebar ul{
    display:flex;
    flex-direction: column;
}


#sidebar.active {
    left: 0;
    transition: all 300ms ease;
}

/* FIN SIDEBAR */

.menu {
    border-radius: 10px;
    background-color: #ba0000;
    transition: all 300ms ease!important;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu li {
    padding: 17px;
    --webkit-transition: all 10ms ease-in-out!important;
}

.menu a {
    text-transform: uppercase;
    font-weight: 700;
    color: white!important;
    background-color: transparent!important;
    --webkit-transition: all 200ms ease-in-out;
}

.menu li:hover {
    color: white!important;
    background-color: rgb(39, 39, 39)!important;
    padding: 17px 45px;
    cursor: pointer;
}

i {
    color: white;
}

i:hover {
    color: white!important;
}

.header {
    background-image: url(../../assets/fondomenu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}

.fa-bars {
    font-size: 30px;
}

.contenedor-texto-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Frijole', cursive;
font-family: 'Finger Paint', cursive; */

.texto-principal {
    width: auto;
    color: white;
    font-family: 'Frijole', cursive;
    font-size: 80px;
    background-color: rgba(255, 196, 0, 0.171);
    border-radius: 12px;
}

.texto-segundario {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
}

.botonPrincipal {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border-style: none;
    background-color: #ba0000;
    height: 50px;
}

.botonPrincipal:hover {
    background-color: rgb(65, 65, 65);
    transition: all 300ms;
}

.botonPrincipal a {
    color: white;
    font-weight: 700;
}

.botonPrincipal a:hover {
    color: white;
    text-decoration: none;
}

/* FOOTER */

.footer {
    background-color: #a5102e;
    padding: 20px;
    height: 100px;
    margin-top: 3rem;
}

.redes-sociales {
    float: left;
}

.redes-sociales ul li {
    display: inline-block;
    padding: 5px;
}

.redes-sociales a, i {
    font-size: 15x;
    --webkit-transition: all 200ms ease-in-out;
}

.redes-sociales a:hover, i:hover {
    background-color: transparent!important;
    color: black;
    font-weight: 700;
}

.texto-footer {
    float: right;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

/* COPIAR HASTA AQUI */


/* ------------------------------------------------------------------- */

.ApartadoPizza{
 
    font-family: 'Lato', sans-serif;
    padding: 70px 0px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pizza{
    text-align: center;
    width: auto;
   
}

.pizza img{
    width: 100%;
    height: 400px;
    text-align: center;
}
/* .pizza:hover{
    cursor: pointer;
    transform: matrix3d(1.3,1.2);
} */

.orden{
    
  
    width: 60%;
    padding: 0px 60px;
}

.encabezado-texto-pizza h1{
    font-weight: 700;
}

/* INGREDIENTES */
#formu-adicional {
    width: auto;
}

.tituloAdicional {
    width: 100%;
    color: gray;
    font-family: Lato;
    font-weight: 600;
}

#lista-ingredientes {
    column-count: 2;
    
}

#lista-ingredientes li{
    display: flex;
    align-items: center;
    width: 165px;
    padding: 5px 15px;
    margin: 4px 0px;
    background-color: rgba(142, 142, 142, 0.187);
    border-radius: 20px;
}
#lista-ingredientes li:hover{
    /* background-color: rgb(60, 60, 60);
    color:white; */
}
#lista-ingredientes li label{
    margin: 0 5px;
    margin-top: 0.4px;
}
.estilo-input{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.estilo-input label{
    margin: 0 5px;
    margin-top: 0.4px;

}
.estilo{
    display: flex;
    align-items: center;
    margin: 0px 5px;
    padding: 3px 20px;
    background-color: rgba(142, 142, 142, 0.187);
    border-radius: 20px;
}

.contenedor-precio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
   
}
.contenedor-precio p{
    padding: 10px 10px;
    margin:0;
}
.contenedor-precio div{
    padding: 0px 10px;
}
.total{
    padding: 0px!important;
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px!important;
    color: rgb(27, 27, 27);
}
.precio{
    background-color: #a5102e;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carrito{
    padding-right: 45px!important;
}

#salida-precio{
    font-size: 30px;
    color: #ffffff;
    font-family: 'Frijole', cursive;
}

.btn-añadir-carrito{
   border-style: none;
   background-color: #f7c338;
   padding: 10px;
   border-radius: 50px;
   color: white;
   --webkit-transition: all 100ms ease-in-out;
}
.btn-añadir-carrito:hover{
    background-color: rgb(39, 39, 39)!important;
}
































@media (max-width: 780px) {
    .menu {
        display: none!important;
    }
    #boton-menu {
        display: block!important;
    }
}

@media (max-width: 1200px) {
    .pizza {
        width: 300px;
    }
}

@media (max-width: 991px) {
    .pizza {
        width: 335px;
    }
}

@media (max-width: 768px) {
    .pizza {
        width: 245px;
    }
}

@media (max-width: 560px) {
    .pizza {
        width: 215px;
    }
    .texto-pizza h4 {
        font-size: 17px;
    }
    
    .orden-pizza .orden p {
        font-size: 14px;
    }
    .texto-principal {
        font-size: 50px;
    }
}




@media (max-width: 1200px){
    .pizza img{
        height: 300px;
    }
}
@media (max-width: 992px){
    .pizza {
        width: 200px;
        height: 250px;
    }
    .pizza img{
        height: 210px;
    }
    .orden{
        width: 400px;
    }
}

@media (max-width: 768px){
    .orden{
        width: 100%;
        padding: 0px 50px;
    }
    .encabezado-texto-pizza{
        text-align: center;
    }
    .pizza{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .pizza img{
        width: 200px;
    }
}

