/* COPIAR DESDE AQUI */

/* GENERAL CONTENEDOR */
*{
    margin: 0;
    padding: 0;
    transition: all 0.8s!important;
}

button:focus{
    outline:none!important;
}
ul, li{
    text-decoration: none!important;

    list-style: none!important;
}
a {
    text-decoration: none!important;
    color: white!important;
    font-family: 'Lato', sans-serif;
}

a:hover {
    text-decoration: none!important;
    color: white!important;
    transition: all 300ms!important;
}
/* FIN GENERAL CONTENEDOR */


#contenedor-arriba {
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.contenedor-logo{
    width: 60%;
    display: flex;
    justify-content: flex-end;

}


#logo {
    font-size: 40px;
    margin-right: 1.5rem;
   
}
.barra{
    display: flex;
    justify-content: flex-end;
    top: 1rem;
   
    width: 40%;
}
#boton-menu{
    margin-right: 5rem;
    transition: all 300ms ease;
    border-style: none;
    background-color: rgb(233, 233, 0);
    border-radius: 100%;
    padding: 9px 13px;
    -webkit-transition: all 200ms ease-in-out;
}

#boton-menu:hover{
    background-color: black;
}
.fa-bars{
    color:white!important;
    font-size: 20px!important;
}

/* SIDEBAR */

#sidebar{
    position: fixed;
    background-color: black;
    width: 300px;
    height: 100%;
    left: -300px;
    transition: all 300ms ease;
    
}
#sidebar ul li{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px;
}
#sidebar.active{
    left: 0;
    transition: all 300ms ease;
}
/* FIN SIDEBAR */
.menu {
    border-radius: 10px;
    background-color: #ba0000;
    transition: all 300ms ease!important;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu li{
    padding: 17px;
    --webkit-transition: all 10ms ease-in-out!important;
}

.menu a {
    text-transform: uppercase;
    font-weight: 700;
    color: white!important;
    background-color: transparent!important;
    --webkit-transition: all 200ms ease-in-out;
}

.menu li:hover {
    color: white!important;
    background-color: rgb(39, 39, 39)!important;
    cursor:pointer;
    
}
i{
    color: white;
}
i:hover{
    color:white!important;
}

.header {
    background-image: url(../../assets/fondomenu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}

.fa-bars {
    font-size: 30px;
    
}

.contenedor-texto-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Frijole', cursive;
font-family: 'Finger Paint', cursive; */

.texto-principal {
    width: auto;
    color: white;
    font-family: 'Frijole', cursive;
    font-size: 80px;
    background-color: rgba(255, 196, 0, 0.171);
    border-radius: 12px;
}

.texto-segundario {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
}

.botonPrincipal {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border-style: none;
    background-color: #ba0000;
    height: 50px;
    
}

.botonPrincipal:hover {
    background-color: rgb(65, 65, 65);
    transition: all 300ms;
}

.botonPrincipal a {
    color: white;
    font-weight: 700;
}

.botonPrincipal a:hover {
    color: white;
    text-decoration: none;
}
/* FOOTER */

.footer{
    background-color: #a5102e;
    padding: 20px;
    height: 100px;
    margin-top: 3rem;
}
.redes-sociales{
    float: left;
}
.redes-sociales ul li{
    display: inline-block;
    padding: 5px;

}
.redes-sociales a, i{
    font-size: 15x;
    --webkit-transition: all 200ms ease-in-out;
}
.redes-sociales a:hover, i:hover{    
    background-color: transparent!important;
    color:black;
    font-weight: 700;
    
}

.texto-footer{
    float: right;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}
/* COPIAR HASTA AQUI */


@media (max-width: 780px) {
    .menu{
        display: none!important;
    }
    #boton-menu{
        display: block!important;
       
    }
}







@media (max-width: 1200px) {
    .pizza {
        width: 300px;
    }
}

@media (max-width: 991px) {
    .pizza {
        width: 335px;
    }
}

@media (max-width: 768px) {
    .pizza {
        width: 245px;
    }
}

@media (max-width: 560px) {
    .pizza {
        width: 215px;
    }
    .texto-pizza h4 {
        font-size: 17px;
    }
    .texto.pizza p {
        font-size:
    }
    .orden-pizza .orden p {
        font-size: 14px;
    }

    .texto-principal{
        font-size: 50px;
    }
}
